<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="message" id="messagecard"><b>{{message}}</b></div>

<div class="container" id="appointmentform">
    <h2 class="textual" style="color: darkgreen"><i class="fa fa-calendar"></i><b> Book Your New appointments </b></h2>
    <small style="color:maroon; font-weight: bold; margin-left: 15%;"> Please check doctor's availability before booking your respective slot</small>
    <form #bookappointmentform="ngForm" (ngSubmit)="bookAppointment()">
        
        <div class="form-group">
            <label for="patientname">Nom  : <b class="text-danger">*</b><small style="color: gray; font-size: 12px;"> (please enter full name of the patient with initial)</small></label>
            <input type="text" class="form-control" placeholder="enter your name" name="patientname" [(ngModel)]="appointment.nom" required 
            #patientname="ngModel"
            [class.is-invalid]="patientname.invalid && patientname.touched">
           <small class="text-danger" [class.d-none]="patientname.valid || patientname.untouched"><b>required field</b></small>
        </div>
        <div class="form-group">
            <label for="patientname">Prénom   : <b class="text-danger">*</b><small style="color: gray; font-size: 12px;"> (please enter full name of the patient with initial)</small></label>
            <input type="text" class="form-control" placeholder="enter your name" name="patientname" [(ngModel)]="appointment.prenom" required 
            #patientname="ngModel"
            [class.is-invalid]="patientname.invalid && patientname.touched">
           <small class="text-danger" [class.d-none]="patientname.valid || patientname.untouched"><b>required field</b></small>
        </div>
        <div class="form-group">
            <label for="doctor">Région : <b class="text-danger">* </b><small style="color: gray; font-size: 12px;">(choose from dropdown)</small></label>
            <select class="form-control" id="sel1" name="doctor" [(ngModel)]="appointment.region"
            #doctor="ngModel">
                <option selected="true">select doctor</option>
                <option *ngFor="let doctor of doctors | async">{{doctor}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="age">Numéro de téléphone : <b class="text-danger">*</b><small style="color: gray; font-size: 12px;"> (please enter proper age of the patient)</small></label>
            <input type="text" class="form-control" placeholder="enter your age" name="age" [(ngModel)]="appointment.numTel" required 
            #age="ngModel"
            [class.is-invalid]="age.invalid && age.touched">
           <small class="text-danger" [class.d-none]="age.valid || age.untouched"><b>required field</b></small>
        </div>


        <div class="form-group">
            <label for="gender">Patient Gender : <b class="text-danger">* </b></label>
            <select class="form-control"  placeholder="enter your age" id="sel1" name="gender" [(ngModel)]="appointment.gender"
            #gender="ngModel">
            <option>Homme</option>
            <option>Femme</option>
            </select>
        </div>


        <div class="form-group">
            <label for="date">Date de naissance<b class="text-danger">*</b></label>
            <input type="date" class="form-control" placeholder="Choisissez votre date de naissance" name="date" [(ngModel)]="appointment.dateNaissance" required 
              #dateNaissance="ngModel"
              [class.is-invalid]="dateNaissance.invalid && dateNaissance.touched"
              [ngModel]="defaultBirthday">
            <small class="text-danger" [class.d-none]="dateNaissance.valid || dateNaissance.untouched"><b>Champ requis</b></small>
          </div>
          
          <div class="form-group">
            <label for="age">Profession <b class="text-danger">*</b><small style="color: gray; font-size: 12px;"> (please enter proper age of the patient)</small></label>
            <input type="text" class="form-control" placeholder="enter your age" name="age" [(ngModel)]="appointment.profession" required 
            #age="ngModel"
            [class.is-invalid]="age.invalid && age.touched">
           <small class="text-danger" [class.d-none]="age.valid || age.untouched"><b>required field</b></small>
        </div>


        <div class="form-group">
            <label for="doctor">Couverture sociale <b class="text-danger">* </b><small style="color: gray; font-size: 12px;">(choose from dropdown)</small></label>
            <select class="form-control" id="sel1" name="doctor" [(ngModel)]="appointment.couvertureSocial"
            #doctor="ngModel">
                <option selected="true">select doctor</option>
                <option *ngFor="let doctor of doctors | async">{{doctor}}</option>
            </select>
        </div>



      <button style="margin-top: 15px;" [disabled]="bookappointmentform.form.invalid" type="submit" class="btn registerbtn"><i class="fa fa-plus"></i>&nbsp; Ajouter Patient</button>
    </form>
  </div>

<br><br>
<app-footer></app-footer>