<mat-toolbar class="fixed-header">
  <button  id="menu" mat-icon-button (click)="toggleDrawer()" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Media Care Pro</span>
  <span class="example-spacer"></span>
  <button (click)="logout()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>logout</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" (click)="navigateHome()" aria-label="Example icon-button with share icon">
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>
<div style="margin-top: 64px;"></div>

