@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

.panel-body{
  margin-left: 1%;
  margin-right: 2%;
}
thead{
  background-color: rgb(136, 96, 35);
}
table, td{
  text-align: center;
  align-items: center;
  vertical-align: middle;
}
table, td, tr{
  border: 1px solid rgb(163, 161, 161);
  font-family: serif;
  font-weight: bold;
  font-style: normal;
  font-size: large;
}

th {
  text-transform: uppercase;
  /* color: white; */
  font-family: Helvetica;
  font-style: italic;
  font-size: normal;
  background-color: #c0c0c0; /* Change to a different color */
}




td{
  text-transform:none;
}
.accepted{
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(30, 116, 30);
  padding: 5px 10px 5px 10px;
  color: white;
  font-weight: bolder;
}
.pending{
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(196, 137, 28);
  padding: 5px 10px 5px 10px;
  color: white;
  font-weight: bolder;
}
.rejected{
  border: 1px solid black;
  border-radius: 10px;
  background-color: red;
  padding: 5px 10px 5px 10px;
  color: white;
  font-weight: bolder;
}
.date-cover{
  border-radius: 10px;
  background-color: rgb(10, 15, 68);
  padding: 5px 10px 5px 10px;
  color: white;
  font-weight: bolder;
}
.slotcover
{
  border-radius: 10px;
  background-color: rgb(128, 44, 18);
  padding: 5px 10px 5px 10px;
  color: white;
  font-weight: bolder;
}
.filter-heading {
  display: flex;
  align-items: center;
}

.filter-label {
  margin-right: 10px;
  font-weight: bold;
  color: #333; /* Example color */
}
.filter-form {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
}
/* Customize the appearance of the input field */
.mat-form-field {
  font-size: 14px; /* Adjust the font size */
  width: 100%; /* Adjust the width */
  background-color: #fff; /* Set background color to white */
}

/* Adjust the size of the date picker icon */
.mat-datepicker-toggle {
  font-size: 20px; /* Adjust the font size */
}

/* Adjust the size of the calendar */
.mat-calendar {
  font-size: 14px; /* Adjust the font size */
}

/* Adjust the size of the date cells in the calendar */
.mat-calendar-body-cell-content {
  font-size: 14px; /* Adjust the font size */
}
table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  padding: 4px; /* Adjust the padding as needed */
  border: 1px solid #dddddd;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
td {
  font-size: 15px; /* Adjust the font size as needed */
}
td {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif; /* Use Roboto font or any other Material font */
}
.custom-green-button {
    background-color: green;
    color: white;
}

.custom-green-button:hover {
    background-color: darkgreen;
}